<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>My Music.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83A38C241BC2E59E00CC44FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83A38C3A1BC2E59F00CC44FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83A38C451BC2E59F00CC44FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
